In [1]:
import re
import numpy as np 
import pandas as pd 
import locale
import calendar

Load files

In [2]:
facts = pd.read_excel("data/homicidios.xlsx", sheet_name="HECHOS")
facts_dict = pd.read_excel("data/homicidios.xlsx", sheet_name="DICCIONARIO_HECHOS")

Treatment of data from the dataset 'facts'

In [3]:
facts

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,...,NaN,MOM,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,...,NaN,LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,...,NaN,TERRADA,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,...,4071.0,NaN,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,...,709.0,NaN,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

Lets show the columns info:

In [4]:
facts_dict

,variables y definiciones,descripción,Unnamed: 2
0,ID,identificador unico del siniestro,NaN
1,N_VICTIMAS,cantidad de víctimas,NaN
2,FECHA,fecha en formato dd/mm/aaaa,NaN
3,AAAA,año,NaN
4,MM,mes,NaN
5,DD,día del mes,NaN
6,HORA,hora del siniestro,NaN
7,HH,franja horaria entera,NaN
8,LUGAR_DEL_HECHO,Dirección del hecho,NaN
9,TIPO_DE_CALLE,Tipo de arteria. En el caso de intersecciones ...,NaN
10,Calle,nombre de la arteria donde se produjo el hecho,NaN
11,Altura,altura de la arteria donde se produjo el hecho,NaN
12,Cruce,cruce en caso de que sea una encrucijada,NaN
13,Dirección Normalizada,direccion en formato normalizado USIG,NaN
14,COMUNA,Comuna de la ciudad (1 a 15),NaN
15,XY (CABA),geocodificación plana,NaN
16,pos x,longitud con separador punto. WGS84,NaN
17,pos y,latitud con separador punto. WGS84,NaN
18,PARTICIPANTES,conjunción de víctima y acusado,NaN
19,VICTIMA,Vehículo que ocupaba quien haya fallecido a se...,NaN
20,ACUSADO,Vehículo que ocupaba quien resultó acusado/a d...,NaN
21,NaN,NaN,NaN
22,Variables,valores,descripción
23,TIPO_DE_CALLE,calle,Arteria cuya calzada tiene un ancho comprendid...
24,NaN,avenida,Arteria cuya calzada tiene un ancho total de p...
25,NaN,autopista,Vía multicarril con calzadas para ambas manos ...
26,NaN,general paz,"Avenida General Paz, ambos sentidos. Incluye i..."
27,VICTIMA,PEATON,Víctima distinta de cualquier ocupante de un v...
28,NaN,MOTO,Vehículo a motor no carrozado que incluye moto...
29,NaN,AUTO,Vehículo a motor destinado al transporte de pe...
30,NaN,CARGAS,Vehículo a motor destiando al transporte de ca...
31,NaN,BICICLETA,"Vehículo con al menos dos ruedas, que generalm..."
32,NaN,PASAJEROS,"Personas lesionadas que se encuentran dentro, ..."
33,NaN,MOVIL,"Vehículos de emergencia: móviles policiales, a..."
34,NaN,OTRO,otros vehiculos
35,NaN,SD,Sin datos sobre el tipo de víctima
36,ACUSADO,AUTO,Vehículo a motor destinado al transporte de pe...
37,NaN,BICICLETA,"Vehículo con al menos dos ruedas, que generalm..."
38,NaN,CARGAS,Vehículo a motor destiando al transporte de ca...
39,NaN,MOTO,Vehículo a motor no carrozado que incluye moto...
40,NaN,OBJETO FIJO,Colisión contra objetos inmóviles fijados de m...
41,NaN,PASAJEROS,"Personas lesionadas que se encuentran dentro, ..."
42,NaN,TREN,Equipo móvil que se desplaza exclusivamente so...
43,NaN,OTRO,otros vehiculos
44,NaN,SD,Sin datos sobre el vehículo participante
45,PARTICIPANTES,MULTIPLE,cuando participan más de un vehículo como cont...

Now, We need to see a summary about the facts data base

In [5]:
def data_summ(df):
    '''
    This function provides detailed information about the dtype and null values present in a dataframe
    '''

    info_dict = {'Column': [], 'Data_type': [], 'No_miss_Qty': [], '%Missing': [], 'Missing_Qty': []}
    

    for column in df.columns:
        
        info_dict['Column'].append(column)
        info_dict['Data_type'].append(df[column].apply(type).unique())
        info_dict['No_miss_Qty'].append(df[column].count())
        info_dict['%Missing'].append(round(df[column].isnull().sum() * 100 / len(df), 2))
        info_dict['Missing_Qty'].append(df[column].isnull().sum())

    df_info = pd.DataFrame(info_dict)
    
    print('\nTotal rows: ', len(df))
    print('\nTotal full null rows: ', df.isna().all(axis=1).sum())
    print('\nTotal duplicated rows: ', df.duplicated().sum())
    
    return df_info

In [6]:
data_summ(facts)

Total rows:  696

Total full null rows:  0

Total duplicated rows:  0

,Column,Data_type,No_miss_Qty,%Missing,Missing_Qty
0,ID,[<class 'str'>],696,0.00,0
1,N_VICTIMAS,[<class 'int'>],696,0.00,0
2,FECHA,[<class 'pandas._libs.tslibs.timestamps.Timest...,696,0.00,0
3,AAAA,[<class 'int'>],696,0.00,0
4,MM,[<class 'int'>],696,0.00,0
5,DD,[<class 'int'>],696,0.00,0
6,HORA,"[<class 'datetime.time'>, <class 'str'>, <clas...",696,0.00,0
7,HH,"[<class 'int'>, <class 'str'>]",696,0.00,0
8,LUGAR_DEL_HECHO,[<class 'str'>],696,0.00,0
9,TIPO_DE_CALLE,[<class 'str'>],696,0.00,0
10,Calle,"[<class 'str'>, <class 'float'>]",695,0.14,1
11,Altura,[<class 'float'>],129,81.47,567
12,Cruce,"[<class 'str'>, <class 'float'>]",525,24.57,171
13,Dirección Normalizada,"[<class 'str'>, <class 'float'>]",688,1.15,8
14,COMUNA,[<class 'int'>],696,0.00,0
15,XY (CABA),[<class 'str'>],696,0.00,0
16,pos x,[<class 'str'>],696,0.00,0
17,pos y,[<class 'str'>],696,0.00,0
18,PARTICIPANTES,[<class 'str'>],696,0.00,0
19,VICTIMA,[<class 'str'>],696,0.00,0
20,ACUSADO,[<class 'str'>],696,0.00,0

Our data summary shows some columns in uppercase and fillies in lowercase. It also shows some columns with null data and some columns with different data types. Our first step will be to standardize column writing, parse and transform null data (if possible), and then parse columns with different data types.

## Standarize columns format

In [7]:
# Replace underscores with spaces
facts.columns = facts.columns.str.replace('_', ' ')
# The first letter is capitalized
facts.columns = facts.columns.str.title()
# Rename columns
facts = facts.rename(columns={'Id': 'Hechos_Id',                        
                                        'N Victimas': 'Número de Victimas',
                                        'Fecha': 'Fecha',
                                        'Aaaa':'Año',
                                        'Mm':'Mes',
                                        'Dd':'Dia',
                                        'Hh':'Franja Horaria',
                                        'Xy (Caba)':'XY (CABA)',
                                        'Victima': 'Víctima'})


facts.columns

Index(['Hechos_Id', 'Número de Victimas', 'Fecha', 'Año', 'Mes', 'Dia', 'Hora',
       'Franja Horaria', 'Lugar Del Hecho', 'Tipo De Calle', 'Calle', 'Altura',
       'Cruce', 'Dirección Normalizada', 'Comuna', 'XY (CABA)', 'Pos X',
       'Pos Y', 'Participantes', 'Víctima', 'Acusado'],
      dtype='object')

## Columns with null data 

- Column 'Calle' has 1 null data
- Column 'Altura' has 567 null data
- Column 'Cruce' has 171 null data
- Column 'Dirección Normalizada' has 8 null data

We can see in the table that the column 'Lugar del hecho' is related to the columns 'Calle', 'Cruce' and 'Dirección Normalizada'. We go to analize this set of columns to decide what to do with null data

In [8]:
facts[facts['Calle'].isnull()][['Dirección Normalizada', 'Cruce','Altura', 'Calle', 'Lugar Del Hecho']]

    Dirección Normalizada Cruce  Altura Calle Lugar Del Hecho
119                   NaN   NaN     NaN   NaN              SD

In [9]:
facts[facts['Calle'].isnull()]

,Hechos_Id,Número de Victimas,Fecha,Año,Mes,Dia,Hora,Franja Horaria,Lugar Del Hecho,Tipo De Calle,...,Altura,Cruce,Dirección Normalizada,Comuna,XY (CABA),Pos X,Pos Y,Participantes,Víctima,Acusado
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,...,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD

We see that the column 'Calle' has only one null value. When analyzing the entire row, we realize that this row is missing relevant information, therefore we decide to delete it

In [10]:
facts = facts.dropna(subset=['Calle']).reset_index(drop=True)

Now, we analize the column 'Altura'

In [11]:
facts[facts['Altura'].notna()][['Dirección Normalizada', 'Cruce','Altura', 'Calle', 'Lugar Del Hecho']]

,Dirección Normalizada,Cruce,Altura,Calle,Lugar Del Hecho
2,ENTRE RIOS AV. 2034,NaN,2034.0,ENTRE RIOS AV.,AV ENTRE RIOS 2034
9,ENTRE RIOS AV. 1366,NaN,1366.0,ENTRE RIOS AV.,AV ENTRE RIOS 1366
14,SUIPACHA 156,NaN,156.0,SUIPACHA,SUIPACHA 156
33,LIMA 1483,NaN,1483.0,LIMA,LIMA 1483
42,"CAMPOS, LUIS M. AV. 30",NaN,30.0,"CAMPOS, LUIS M. AV.",AV LUIS MARIA CAMPOS 30
...,...,...,...,...,...
676,TUCUMAN 3112,NaN,3112.0,TUCUMAN,TUCUMAN 3112
684,ESMERALDA 1359,NaN,1359.0,ESMERALDA,ESMERALDA 1359
686,GAONA AV. 3655,NaN,3655.0,GAONA AV.,AV. GAONA 3655
693,"PERON, EVA AV. 4071",NaN,4071.0,"PERON, EVA AV.",AV. EVA PERON 4071
694,PADRE CARLOS MUGICA 709,NaN,709.0,PADRE CARLOS MUJICA,PADRE CARLOS MUJICA 709

Analyzing the data from the 'Altura' column, we proceed to eliminate it due to the large number of missing items (81.47%) and there being no way to fill in the columns; Investigating the data in the 'Altura' column, we have seen that it refers to the numbering of the street where the accident occurs. The dataset shows us that the majority of accidents occur at intersections or corners. In fact, this information is found in the column 'Dirección Normalizada'

In [12]:
# Drop column 'Altura'
facts= facts.drop('Altura', axis=1)

Now, we analize the column 'Cruce'

In [13]:
facts[facts['Cruce'].isnull()][['Dirección Normalizada', 'Cruce', 'Calle', 'Lugar Del Hecho']]

,Dirección Normalizada,Cruce,Calle,Lugar Del Hecho
2,ENTRE RIOS AV. 2034,NaN,ENTRE RIOS AV.,AV ENTRE RIOS 2034
9,ENTRE RIOS AV. 1366,NaN,ENTRE RIOS AV.,AV ENTRE RIOS 1366
14,SUIPACHA 156,NaN,SUIPACHA,SUIPACHA 156
33,LIMA 1483,NaN,LIMA,LIMA 1483
35,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI KM....
...,...,...,...,...
679,AUTOPISTA 25 DE MAYO y PASCO,NaN,AUTOPISTA 25 DE MAYO,AU 25 DE MAYO KM7 (ALTURA PASCO)
684,ESMERALDA 1359,NaN,ESMERALDA,ESMERALDA 1359
686,GAONA AV. 3655,NaN,GAONA AV.,AV. GAONA 3655
693,"PERON, EVA AV. 4071",NaN,"PERON, EVA AV.",AV. EVA PERON 4071
694,PADRE CARLOS MUGICA 709,NaN,PADRE CARLOS MUJICA,PADRE CARLOS MUJICA 709

In [14]:
facts[facts['Cruce'].notna()][['Dirección Normalizada', 'Cruce', 'Calle', 'Lugar Del Hecho']]

,Dirección Normalizada,Cruce,Calle,Lugar Del Hecho
0,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...","FERNANDEZ DE LA CRUZ, F., GRAL. AV.",PIEDRA BUENA AV.,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ
1,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",DE LOS CORRALES AV.,"PAZ, GRAL. AV.",AV GRAL PAZ Y AV DE LOS CORRALES
3,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.","VILLEGAS, CONRADO, GRAL.",LARRAZABAL AV.,AV LARRAZABAL Y GRAL VILLEGAS CONRADO
4,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.","SAENZ PE?A, LUIS, PRES.",SAN JUAN AV.,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA
5,27 DE FEBRERO AV. y ESCALADA AV.,ESCALADA AV.,27 DE FEBRERO AV.,AV 27 DE FEBRERO Y AV ESCALADA
...,...,...,...,...
688,"BAIGORRIA y HUGO, VICTOR","HUGO, VICTOR",BAIGORRIA,BAIGORRIA Y VICTOR HUGO
689,RIVADAVIA AV. y PUEYRREDON AV.,PUEYRREDON AV.,RIVADAVIA AV.,AV. RIVADAVIA Y AV. PUEYRREDON
690,RIESTRA AV. y MOM,MOM,RIESTRA AV.,AV. RIESTRA Y MOM
691,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL.",AU DELLEPIANE Y LACARRA
692,GAONA AV. y TERRADA,TERRADA,GAONA AV.,AV. GAONA Y TERRADA

We note that the 'Cruce' column refers to the intersections between two streets and has data only when the accident is referenced at the intersection of two streets. Otherwise it is null.

When the accident is at a street intersection, the data in the 'Cruce' column is found in the 'LUGAR_DEL_HECHO' column, therefore, we are going to define boolean values ​​for this column for when the accident is established at a street intersection.

In [15]:
facts['Cruce'] = facts['Cruce'].notna()

In [16]:
facts[facts['Dirección Normalizada'].isnull()][['Dirección Normalizada', 'Cruce', 'Calle', 'Lugar Del Hecho']]

,Dirección Normalizada,Cruce,Calle,Lugar Del Hecho
38,NaN,False,"LUGONES, LEOPOLDO AV.",AUTOPISTA LUGONES PK 10000
106,NaN,False,AUTOPISTA BUENOS AIRES - LA PLATA,AU BUENOS AIRES - LA PLATA KM. 4
179,NaN,False,AUTOPISTA PERITO MORENO,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6
180,NaN,False,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,AU DELLEPIANE 2400
312,NaN,False,"LUGONES, LEOPOLDO AV.",AUTOPISTA LUGONES KM 4.7
545,NaN,False,"LUGONES, LEOPOLDO AV.","LUGONES, LEOPOLDO AV. KM 6,1"
620,NaN,False,AUTOPISTA BUENOS AIRES - LA PLATA,"AU BUENOS AIRES LA PLATA KM 4,5"

In [17]:
facts['Dirección Normalizada'].fillna('SD', inplace=True)

In [18]:
facts.head()

,Hechos_Id,Número de Victimas,Fecha,Año,Mes,Dia,Hora,Franja Horaria,Lugar Del Hecho,Tipo De Calle,Calle,Cruce,Dirección Normalizada,Comuna,XY (CABA),Pos X,Pos Y,Participantes,Víctima,Acusado
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,True,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",True,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,False,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,True,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,True,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

## Columns with different data types

In [19]:
data_summ(facts)

Total rows:  695

Total full null rows:  0

Total duplicated rows:  0

,Column,Data_type,No_miss_Qty,%Missing,Missing_Qty
0,Hechos_Id,[<class 'str'>],695,0.0,0
1,Número de Victimas,[<class 'int'>],695,0.0,0
2,Fecha,[<class 'pandas._libs.tslibs.timestamps.Timest...,695,0.0,0
3,Año,[<class 'int'>],695,0.0,0
4,Mes,[<class 'int'>],695,0.0,0
5,Dia,[<class 'int'>],695,0.0,0
6,Hora,"[<class 'datetime.time'>, <class 'str'>, <clas...",695,0.0,0
7,Franja Horaria,"[<class 'int'>, <class 'str'>]",695,0.0,0
8,Lugar Del Hecho,[<class 'str'>],695,0.0,0
9,Tipo De Calle,[<class 'str'>],695,0.0,0
10,Calle,[<class 'str'>],695,0.0,0
11,Cruce,[<class 'bool'>],695,0.0,0
12,Dirección Normalizada,[<class 'str'>],695,0.0,0
13,Comuna,[<class 'int'>],695,0.0,0
14,XY (CABA),[<class 'str'>],695,0.0,0
15,Pos X,[<class 'str'>],695,0.0,0
16,Pos Y,[<class 'str'>],695,0.0,0
17,Participantes,[<class 'str'>],695,0.0,0
18,Víctima,[<class 'str'>],695,0.0,0
19,Acusado,[<class 'str'>],695,0.0,0

Columns 'Hora', and 'Franja Horaria'  have mixed types of data. We going to analize and tarnsform (if possible)

In [20]:
# Cantidad de valores por tipo de dato en la columna 'hora'
facts['Hora'].apply(type).value_counts()

Hora
<class 'datetime.time'>        607
<class 'str'>                   85
<class 'datetime.datetime'>      3
Name: count, dtype: int64

We going to analize columns with data type 'str'

In [21]:
datos_str = facts.loc[facts['Hora'].apply(lambda x: isinstance(x, str))]
datos_str

,Hechos_Id,Número de Victimas,Fecha,Año,Mes,Dia,Hora,Franja Horaria,Lugar Del Hecho,Tipo De Calle,Calle,Cruce,Dirección Normalizada,Comuna,XY (CABA),Pos X,Pos Y,Participantes,Víctima,Acusado
274,2018-0001,1,2018-01-01,2018,1,1,22:50:00,22,San Juan Av. Y Rincón,AVENIDA,SAN JUAN AV.,True,SAN JUAN AV. y RINCON,3,Point (106229.70400707 100696.43939679),-58.39536773,-34.62297346,PEATON-MOTO,PEATON,MOTO
275,2018-0002,1,2018-01-03,2018,1,3,16:40:00,16,Peru 937,CALLE,PERU,False,PERU 937,1,Point (108138.18410245 101140.78821350),-58.37456088,-34.61895467,BICICLETA-PASAJEROS,BICICLETA,PASAJEROS
276,2018-0003,1,2018-01-05,2018,1,5,10:12:00,10,"Pueyrredon, Honorio, Dr. Av. y Galicia",AVENIDA,"PUEYRREDON, HONORIO, DR. AV.",True,"PUEYRREDON, HONORIO, DR. AV. y GALICIA",15,Point (101348.13972450 102808.02053976),-58.44860217,-34.60395657,MULTIPLE,PEATON,MULTIPLE
277,2018-0004,1,2018-01-09,2018,1,9,09:40:00,9,Del Libertador Av. y Manzanares,AVENIDA,DEL LIBERTADOR AV.,True,DEL LIBERTADOR AV. y MANZANARES,13,Point (100183.96103971 109533.84269558),-58.46129513,-34.54332766,MULTIPLE,MOTO,MULTIPLE
278,2018-0005,1,2018-01-09,2018,1,9,22:30:00,22,Paseo Colon Av. 1019,AVENIDA,PASEO COLON AV.,False,PASEO COLON AV. 1019,1,Point (108641.50518777 101075.93727953),-58.36907201,-34.61953517,PEATON-PASAJEROS,PEATON,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,2018-0138,1,2018-12-21,2018,12,21,09:30:00,9,Bermudez 1893,CALLE,BERMUDEZ,False,BERMUDEZ 1893,10,Point (95944.83421152 100945.68379559),-58.50751833,-34.62073702,PASAJEROS-PASAJEROS,PASAJEROS,PASAJEROS
412,2018-0139,1,2018-12-22,2018,12,22,06:30:00,6,Santander 1974,CALLE,SANTANDER,False,SANTANDER 1974,7,Point (101510.09611838 98933.71958961),-58.44682986,-34.63888084,MOTO-MOTO,MOTO,MOTO
415,2018-0142,1,2018-12-25,2018,12,25,13:30:00,13,"PAZ, GRAL. AV. 5172",GRAL PAZ,"PAZ, GRAL. AV.",False,"PAZ, GRAL. AV. 5172",12,Point (95716.93710226 106295.47905158),-58.50997604,-34.57251072,CARGAS-PASAJEROS,CARGAS,PASAJEROS
416,2018-0143,1,2018-12-29,2018,12,29,05:25:00,5,"Olivera Av. y Alberdi, Juan Bautista Av.",AVENIDA,OLIVERA AV.,True,"OLIVERA AV. y ALBERDI, JUAN BAUTISTA AV.",10,Point (97912.79273192 98756.38729095),-58.48606475,-34.64047818,MOTO-AUTO,MOTO,AUTO
517,2019-0103,1,2019-12-18,2019,12,18,SD,SD,"PAZ, GRAL. AV. Y GRIVEO",GRAL PAZ,"PAZ, GRAL. AV.",True,"PAZ, GRAL. AV. y GRIVEO",11,Point (94643.11254058 103831.57115061),-58.52169422,-34.59471640,MOTO-MOTO,MOTO,MOTO

We see that the str type data has a time format, except one that is SD. We will convert the data to time type and perform an imputation with the SD data with reference to the mode

In [22]:
facts['Hora'] = pd.to_datetime(facts['Hora'], format='%H:%M:%S', errors='coerce').dt.time

In [23]:
facts['Hora'].apply(type).value_counts()

Hora
<class 'datetime.time'>                          694
<class 'pandas._libs.tslibs.nattype.NaTType'>      1
Name: count, dtype: int64

In [24]:
# calculate the mode
hora_moda = facts['Hora'].mode().iloc[0]
# The value None is replaced by the most common time
facts['Hora'].fillna(hora_moda, inplace=True)
facts.loc[517]

Hechos_Id                                             2019-0103
Número de Victimas                                            1
Fecha                                       2019-12-18 00:00:00
Año                                                        2019
Mes                                                          12
Dia                                                          18
Hora                                                   09:00:00
Franja Horaria                                               SD
Lugar Del Hecho                         PAZ, GRAL. AV. Y GRIVEO
Tipo De Calle                                          GRAL PAZ
Calle                                            PAZ, GRAL. AV.
Cruce                                                      True
Dirección Normalizada                   PAZ, GRAL. AV. y GRIVEO
Comuna                                                       11
XY (CABA)                Point (94643.11254058 103831.57115061)
Pos X                                              -58.52169422
Pos Y                                              -34.59471640
Participantes                                         MOTO-MOTO
Víctima                                                    MOTO
Acusado                                                    MOTO
Name: 517, dtype: object

In [25]:
datos_str = facts.loc[facts['Franja Horaria'].apply(lambda x: isinstance(x, str))]
datos_str

,Hechos_Id,Número de Victimas,Fecha,Año,Mes,Dia,Hora,Franja Horaria,Lugar Del Hecho,Tipo De Calle,Calle,Cruce,Dirección Normalizada,Comuna,XY (CABA),Pos X,Pos Y,Participantes,Víctima,Acusado
517,2019-0103,1,2019-12-18,2019,12,18,09:00:00,SD,"PAZ, GRAL. AV. Y GRIVEO",GRAL PAZ,"PAZ, GRAL. AV.",True,"PAZ, GRAL. AV. y GRIVEO",11,Point (94643.11254058 103831.57115061),-58.52169422,-34.59471640,MOTO-MOTO,MOTO,MOTO

In [26]:
# Change de str data by int data. 
facts['Franja Horaria'] = facts['Franja Horaria'].apply(lambda x: int(hora_moda.hour) if x == "SD" else x)
# Verify
facts['Franja Horaria'].apply(type).value_counts()

Franja Horaria
<class 'int'>    695
Name: count, dtype: int64

In [27]:
data_summ(facts)

Total rows:  695

Total full null rows:  0

Total duplicated rows:  0

,Column,Data_type,No_miss_Qty,%Missing,Missing_Qty
0,Hechos_Id,[<class 'str'>],695,0.0,0
1,Número de Victimas,[<class 'int'>],695,0.0,0
2,Fecha,[<class 'pandas._libs.tslibs.timestamps.Timest...,695,0.0,0
3,Año,[<class 'int'>],695,0.0,0
4,Mes,[<class 'int'>],695,0.0,0
5,Dia,[<class 'int'>],695,0.0,0
6,Hora,[<class 'datetime.time'>],695,0.0,0
7,Franja Horaria,[<class 'int'>],695,0.0,0
8,Lugar Del Hecho,[<class 'str'>],695,0.0,0
9,Tipo De Calle,[<class 'str'>],695,0.0,0
10,Calle,[<class 'str'>],695,0.0,0
11,Cruce,[<class 'bool'>],695,0.0,0
12,Dirección Normalizada,[<class 'str'>],695,0.0,0
13,Comuna,[<class 'int'>],695,0.0,0
14,XY (CABA),[<class 'str'>],695,0.0,0
15,Pos X,[<class 'str'>],695,0.0,0
16,Pos Y,[<class 'str'>],695,0.0,0
17,Participantes,[<class 'str'>],695,0.0,0
18,Víctima,[<class 'str'>],695,0.0,0
19,Acusado,[<class 'str'>],695,0.0,0

## Geographic Data
Now let's analyze the columns corresponding to the geographical location of the accidents:

In [28]:
unique_values_X = facts['Pos X'].unique()

# Show unique values
print(unique_values_X)

['-58.47533969' '-58.50877521' '-58.39040293' '-58.46503904'
 '-58.38718297' '-58.44451316' '-58.50095869' '-58.38048577'
 '-58.39114932' '-58.43760020' '-58.36882665' '-58.44989671'
 '-58.50990884' '-58.37952223' '-58.45157703' '-58.38144696'
 '-58.46244952' '-58.49216191' '-58.44497874' '-58.38199706'
 '-58.47378664' '-58.47064556' '-58.40623949' '-58.39228965'
 '-58.37813396' '-58.46275892' '-58.49683458' '-58.40603217'
 '-58.46076550' '-58.47832463' '-58.43213235' '-58.46743471'
 '-58.38247061' '-58.44759966' '-58.37714647568196' '-58.47305463' '.'
 '-58.48429180' '-58.48695354' '-58.40021959' '-58.42957885'
 '-58.38247542' '-58.38222219' '-58.49485242' '-58.45227946'
 '-58.48455411' '-58.39056593' '-58.39118948' '-58.49021952'
 '-58.49896559' '-58.47461076' '-58.46210891' '-58.37027770'
 '-58.40491455' '-58.45504154' '-58.52927982' '-58.48721060'
 '-58.42273092' '-58.44788671' '-58.38110563' '-58.42378834'
 '-58.48727942' '-58.37864583' '-58.50151750' '-58.43233425'
 '-58.41971993' '-58.44362126' '-58.51713095' '-58.47433193007387'
 '-58.39038605' '-58.40042405' '-58.52340614' '-58.49491054'
 '-58.52932872' '-58.50011639' '-58.46635001' '-58.45343236'
 '-58.38090932' '-58.37157668' '-58.52280139' '-58.51232237'
 '-58.47461905' '-58.38268809' '-58.49603546' '-58.41848605'
 '-58.48935041' '-58.39936478' '-58.37936704' '-58.49659234'
 '-58.47256391' '-58.45130953' '-58.46271207' '-58.49020869'
 '-58.52572109' '-58.44094791' '-58.41914024' '-58.37910942'
 '-58.39871183' '-58.41036975' '-58.40204698' '-58.48935287'
 '-58.42260225' '-58.51537091' '-58.45909670' '-58.42008769'
 '-58.45566399' '-58.37533517' '-58.35975012' '-58.44523595'
 '-58.39626094' '-58.38896772' '-58.46536113' '-58.40879146'
 '-58.46451841' '-58.42917090' '-58.49007772' '-58.52756365'
 '-58.40638983' '-58.47576807' '-58.51927194' '-58.42525456'
 '-58.45396573' '-58.42323628' '-58.36926144' '-58.47935434'
 '-58.50598256' '-58.36607137' '-58.41918902' '-58.46749188'
 '-58.46064174' '-58.36956186' '-58.40966671' '-58.40288226'
 '-58.46594230' '-58.38957669' '-58.38161660' '-58.43917004'
 '-58.41595919' '-58.43564880' '-58.50073810' '-58.40969005'
 '-58.38972622' '-58.49185972' '-58.39293417' '-58.38099494'
 '-58.42901200' '-58.38362373' '-58.46589308' '-58.43614426'
 '-58.41842777' '-58.38332245' '-58.45475488' '-58.48501341'
 '-58.47010988' '-58.40997560' '-58.48892175' '-58.52466448'
 '-58.42554218' '-58.35881506' '-58.51452347' '-58.44516857'
 '-58.43834197' '-58.45485084' '-58.52449285' '-58.46713742'
 '-58.43850413' '-58.49413799' '-58.37547846' '-58.48680218'
 '-58.49563989' '-58.38403232' '-58.38223382' '-58.45966521'
 '-58.39303911' '-58.51262106' '-58.38118367' '-58.37653284'
 '-58.37709334' '-58.46002142' '-58.43381970' '-58.43580656'
 '-58.52173071' '-58.50791763' '-58.49175088' '-58.40781467'
 '-58.52567073' '-58.38154200' '-58.38526125' '-58.42934104'
 '-58.40657493' '-58.49525314' '-58.39092851' '-58.38502878'
 '-58.37261143' '-58.51876802' '-58.41095567' '-58.36797542'
 '-58.51514709' '-58.51925642' '-58.48671535' '-58.43633522'
 '-58.52640838' '-58.41894306' '-58.46756026' '-58.45715752'
 '-58.42406784' '-58.39674470' '-58.44537508' '-58.40056767'
 '-58.38109568' '-58.42533612' '-58.46062311' '-58.47130269'
 '-58.37048800' '-58.42023854' '-58.45807401' '-58.37697717'
 '-58.39100580' '-58.42182126' '-58.51389422' '-58.37585415'
 '-58.47297505' '-58.46855503' '-58.44254033' '-58.46622247'
 '-58.48003734' '-58.41192137' '-58.44034689' '-58.47155277'
 '-58.47883099' '-58.46552171' '-58.44239720' '-58.47032551'
 '-58.41827843' '-58.51280715' '-58.46258582' '-58.45064148'
 '-58.42717783' '-58.46442001' '-58.41677733' '-58.50251790'
 '-58.40708125' '-58.36947198' '-58.51140889' '-58.37460912'
 '-58.41146277' '-58.42855267' '-58.39035581' '-58.45593915'
 '-58.52866211' '-58.52037476' '-58.47074114' '-58.48200819'
 '-58.39536773' '-58.37456088' '-58.44860217' '-58.46129513'
 '-58.36907201' '-58.44062219' '-58.52502765' '-58.36659655'
 '-58.36737389' '-58.49807953' '-58.39092703' '-58.46912006'
 '-58.48661286' '-58.44074927' '-58.38636298' '-58.46963952'
 '-58.37207554' '-58.39189441' '-58.45012957' '-58.40184094'
 '-58.37441153' '-58.44110156' '-58.47087351' '-58.45962210'
 '-58.41657793' '-58.41911301' '-58.47120586' '-58.47418944'
 '-58.46720441' '-58.46909362' '-58.44704343' '-58.50535541'
 '-58.40021675' '-58.46325991' '-58.49471482' '-58.39872610'
 '-58.38872177' '-58.45686132' '-58.42281627' '-58.38666024'
 '-58.49122843' '-58.40098306' '-58.45448963' '-58.46411215'
 '-58.46213220' '-58.45669422' '-58.35977160' '-58.49820145'
 '-58.41059280' '-58.47969138' '-58.40351561' '-58.51973844'
 '-58.39311376' '-58.43531242' '-58.41178165' '-58.39883882'
 '-58.37093138' '-58.45855262' '-58.38161909' '-58.45511899'
 '-58.37724226' '-58.45546217' '-58.39897064' '-58.40917826'
 '-58.36726348' '-58.48267426' '-58.39546165' '-58.46941984'
 '-58.40367321' '-58.41264127' '-58.44744156' '-58.49441273'
 '-58.47976785' '-58.36523349' '-58.49019551' '-58.41644362'
 '-58.43284809' '-58.42336930' '-58.38691681' '-58.41169020'
 '-58.46739825' '-58.44483258' '-58.43254025' '-58.47199387'
 '-58.36217754' '-58.48098594' '-58.41083404' '-58.44609828'
 '-58.43674281' '-58.40596860' '-58.36154069' '-58.37062179'
 '-58.43220014' '-58.46958442' '-58.44671397' '-58.47152163'
 '-58.39032921' '-58.52887773' '-58.49371157' '-58.48266599'
 '-58.40612253' '-58.43613623' '-58.48250732' '-58.49945705'
 '-58.47743966' '-58.52144411' '-58.41650465' '-58.52994219'
 '-58.50993046' '-58.52844623' '-58.45021367' '-58.49022072'
 '-58.36860866' '-58.39490504' '-58.42349365' '-58.37471802'
 '-58.46438789' '-58.38481975' '-58.50751833' '-58.44682986'
 '-58.36004650' '-58.41509546' '-58.50997604' '-58.48606475'
 '-58.45463662' '-58.49121672' '-58.47325712' '-58.52108101'
 '-58.41652702' '-58.42891604' '-58.47802293' '-58.37564821'
 '-58.42668489' '-58.51839930' '-58.48432691' '-58.43383830'
 '-58.51664939' '-58.49613012' '-58.38313603' '-58.39914719'
 '-58.44927253' '-58.45049163' '-58.41288952' '-58.45743597'
 '-58.39123782' '-58.52922765' '-58.37208118' '-58.41458534'
 '-58.39990285' '-58.46051346' '-58.45457546' '-58.36951669'
 '-58.46415322' '-58.45537373' '-58.37942637' '-58.43680440'
 '-58.40778291' '-58.45212523' '-58.44263580' '-58.51140289'
 '-58.38211431' '-58.41635217' '-58.41316147' '-58.47617802'
 '-58.38641783' '-58.45322169' '-58.45849057' '-58.41829559'
 '-58.36376488' '-58.46442668' '-58.48222035' '-58.36819005'
 '-58.45877601' '-58.44196498' '-58.50622631' '-58.38410880'
 '-58.48100602' '-58.45200171' '-58.44462132' '-58.45220688'
 '-58.41970850' '-58.44187596' '-58.49101637' '-58.42493829'
 '-58.40489318' '-58.42686680' '-58.47961100' '-58.47439934'
 '-58.46711912' '-58.46514781' '-58.37571078' '-58.39811256'
 '-58.41125934' '-58.41822901' '-58.46141281' '-58.42985146'
 '-58.48457413' '-58.46572884' '-58.49261744' '-58.45283186'
 '-58.47973681' '-58.36244648' '-58.49962423' '-58.44551437'
 '-58.35608181' '-58.46483679' '-58.44368628' '-58.37560352'
 '-58.47721439' '-58.45134029' '-58.49040794' '-58.42102679'
 '-58.52219407' '-58.52169422' '-58.47460416' '-58.50512382'
 '-58.43910409' '-58.45019436' '-58.39337644' '-58.39055614'
 '-58.44925765' '-58.38156850' '-58.40662899' '-58.41985649'
 '-58.38099833' '-58.41803309' '-58.40604003' '-58.47549929'
 '-58.51398484' '-58.37133616' '-58.39613805' '-58.44903073'
 '-58.41972364' '-58.40571596' '-58.41451590' '-58.35791192'
 '-58.50801713' '-58.40258477' '-58.44248936' '-58.52909134'
 '-58.45158942' '-58.49344309' '-58.44259166' '-58.41178158'
 '-58.45068621' '-58.42016954' '-58.40617526' '-58.44750470'
 '-58.46745752' '-58.37202621' '-58.42779702' '-58.48440160'
 '-58.46668375' '-58.44958780' '-58.48493828' '-58.40480504'
 '-58.39956546' '-58.49005682' '-58.47501560' '-58.37951690'
 '-58.47750832' '-58.39246272' '-58.52783814' '-58.49332664'
 '-58.50178784' '-58.39731474' '-58.38746381' '-58.40280471'
 '-58.47110424' '-58.38220928' '-58.49794468' '-58.47220945'
 '-58.43706741' '-58.37960727' '-58.51061062' '-58.43052224'
 '-58.41455544' '-58.46774439' '-58.40786274' '-58.48744301'
 '-58.45351111' '-58.39144148' '-58.48191128' '-58.48328708'
 '-58.49018543' '-58.47230127' '-58.38262614' '-58.41047268'
 '-58.42462955' '-58.41168345' '-58.45157681' '-58.49573651'
 '-58.37562539' '-58.44147621' '-58.46899119' '-58.38685612'
 '-58.38113667' '-58.44112678' '-58.44642231' '-58.46649069'
 '-58.42653328' '-58.50407099' '-58.40986646' '-58.51739138'
 '-58.50719962' '-58.46712311' '-58.46033141' '-58.42190745'
 '-58.49026573' '-58.45410344' '-58.44751621' '-58.42040352'
 '-58.49530249' '-58.44399875' '-58.42759813' '-58.40547222'
 '-58.42473018' '-58.39257023' '-58.48941042' '-58.39640740'
 '-58.40544588' '-58.42003882' '-58.46851293' '-58.52931141'
 '-58.42675754' '-58.52933723' '-58.37910943' '-58.52161176'
 '-58.41354692' '-58.43960781' '-58.40454610' '-58.39391034'
 '-58.38281301' '-58.43980799' '-58.44402387' '-58.40944147'
 '-58.38277479' '-58.37627355' '-58.39591856' '-58.45829717'
 '-58.49142611' '-58.51271409' '-58.44864864' '-58.37795815'
 '-58.45531707' '-58.47633683' '-58.38188582' '-58.51989389'
 '-58.43353773' '-58.47293407' '-58.47066794' '-58.37976155']

In [29]:
facts[facts['Pos X'] == '.']

,Hechos_Id,Número de Victimas,Fecha,Año,Mes,Dia,Hora,Franja Horaria,Lugar Del Hecho,Tipo De Calle,Calle,Cruce,Dirección Normalizada,Comuna,XY (CABA),Pos X,Pos Y,Participantes,Víctima,Acusado
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",False,SD,13,Point (. .),.,.,MOTO-SD,MOTO,SD
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,False,SD,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
138,2016-0174,1,2016-12-27,2016,12,27,00:00:00,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,False,AUTOPISTA 25 DE MAYO,0,Point (. .),.,.,SD-SD,SD,SD
175,2017-0042,1,2017-04-10,2017,4,10,09:00:00,9,AV. LEOPOLDO LUGONES PKM 6900,GRAL PAZ,"LUGONES, LEOPOLDO AV.",False,"LUGONES, LEOPOLDO AV.",14,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
179,2017-0050,2,2017-04-28,2017,4,28,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,False,SD,9,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
180,2017-0051,1,2017-05-01,2017,5,1,03:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,False,SD,7,Point (. .),.,.,AUTO-AUTO,AUTO,AUTO
255,2017-0140,1,2017-11-19,2017,11,19,23:22:17,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,False,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),.,.,MOTO-PASAJEROS,MOTO,PASAJEROS
312,2018-0039,1,2018-04-21,2018,4,21,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",False,SD,14,Point (. .),.,.,PEATON-AUTO,PEATON,AUTO
545,2020-0026,1,2020-05-17,2020,5,17,06:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.",False,SD,14,Point (. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
558,2020-0039,1,2020-09-01,2020,9,1,19:17:42,19,MURGUIONDO 2700,CALLE,MURGUIONDO,False,MURGUIONDO,9,Point (. .),.,.,PEATON-CARGAS,PEATON,CARGAS
620,2021-0023,1,2021-03-01,2021,3,1,09:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,False,SD,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS

In [30]:
facts[facts['XY (CABA)'] == 'Point (. .)']

,Hechos_Id,Número de Victimas,Fecha,Año,Mes,Dia,Hora,Franja Horaria,Lugar Del Hecho,Tipo De Calle,Calle,Cruce,Dirección Normalizada,Comuna,XY (CABA),Pos X,Pos Y,Participantes,Víctima,Acusado
35,2016-0049,1,2016-04-17,2016,4,17,00:00:00,0,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI KM....,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,False,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),-58.37714647568196,-34.63657525428238,SD-SD,SD,SD
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",False,SD,13,Point (. .),.,.,MOTO-SD,MOTO,SD
71,2016-0096,1,2016-07-25,2016,7,25,07:00:00,7,"AUTOPISTA DELLEPIANE LUIS TTE. GRAL. KM. 2,3",AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,False,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,8,Point (. .),-58.47433193007387,-34.66684950051973,MOTO-CARGAS,MOTO,CARGAS
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,False,SD,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
138,2016-0174,1,2016-12-27,2016,12,27,00:00:00,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,False,AUTOPISTA 25 DE MAYO,0,Point (. .),.,.,SD-SD,SD,SD
175,2017-0042,1,2017-04-10,2017,4,10,09:00:00,9,AV. LEOPOLDO LUGONES PKM 6900,GRAL PAZ,"LUGONES, LEOPOLDO AV.",False,"LUGONES, LEOPOLDO AV.",14,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
179,2017-0050,2,2017-04-28,2017,4,28,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,False,SD,9,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
180,2017-0051,1,2017-05-01,2017,5,1,03:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,False,SD,7,Point (. .),.,.,AUTO-AUTO,AUTO,AUTO
255,2017-0140,1,2017-11-19,2017,11,19,23:22:17,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,False,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),.,.,MOTO-PASAJEROS,MOTO,PASAJEROS
312,2018-0039,1,2018-04-21,2018,4,21,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",False,SD,14,Point (. .),.,.,PEATON-AUTO,PEATON,AUTO
545,2020-0026,1,2020-05-17,2020,5,17,06:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.",False,SD,14,Point (. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
558,2020-0039,1,2020-09-01,2020,9,1,19:17:42,19,MURGUIONDO 2700,CALLE,MURGUIONDO,False,MURGUIONDO,9,Point (. .),.,.,PEATON-CARGAS,PEATON,CARGAS
620,2021-0023,1,2021-03-01,2021,3,1,09:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,False,SD,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS

We find 14 rows that do not present the coordinates and we also see 10 records that do not present the 'Pos X' and 'Pos X' data either. To continue with the analysis, 0 will be imputed in such a way that it serves to exclude the value in the dashboard to be carried out.

In [31]:
facts[['Pos X', 'Pos Y']] = facts[['Pos X', 'Pos Y']].replace('.', 0)
facts['XY (CABA)'] = facts['XY (CABA)'].replace('Point (. .)', 0)
facts[facts['Pos X'] == 0]

,Hechos_Id,Número de Victimas,Fecha,Año,Mes,Dia,Hora,Franja Horaria,Lugar Del Hecho,Tipo De Calle,Calle,Cruce,Dirección Normalizada,Comuna,XY (CABA),Pos X,Pos Y,Participantes,Víctima,Acusado
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",False,SD,13,0,0,0,MOTO-SD,MOTO,SD
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,False,SD,4,0,0,0,MOTO-CARGAS,MOTO,CARGAS
138,2016-0174,1,2016-12-27,2016,12,27,00:00:00,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,False,AUTOPISTA 25 DE MAYO,0,0,0,0,SD-SD,SD,SD
175,2017-0042,1,2017-04-10,2017,4,10,09:00:00,9,AV. LEOPOLDO LUGONES PKM 6900,GRAL PAZ,"LUGONES, LEOPOLDO AV.",False,"LUGONES, LEOPOLDO AV.",14,0,0,0,MOTO-CARGAS,MOTO,CARGAS
179,2017-0050,2,2017-04-28,2017,4,28,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,False,SD,9,0,0,0,MOTO-CARGAS,MOTO,CARGAS
180,2017-0051,1,2017-05-01,2017,5,1,03:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,False,SD,7,0,0,0,AUTO-AUTO,AUTO,AUTO
255,2017-0140,1,2017-11-19,2017,11,19,23:22:17,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,False,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,0,0,0,MOTO-PASAJEROS,MOTO,PASAJEROS
312,2018-0039,1,2018-04-21,2018,4,21,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",False,SD,14,0,0,0,PEATON-AUTO,PEATON,AUTO
545,2020-0026,1,2020-05-17,2020,5,17,06:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.",False,SD,14,0,0,0,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
558,2020-0039,1,2020-09-01,2020,9,1,19:17:42,19,MURGUIONDO 2700,CALLE,MURGUIONDO,False,MURGUIONDO,9,0,0,0,PEATON-CARGAS,PEATON,CARGAS
620,2021-0023,1,2021-03-01,2021,3,1,09:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,False,SD,4,0,0,0,MOTO-CARGAS,MOTO,CARGAS

## Involved in the facts

Now, Finally we will analyze the columns 'Participantes', 'Víctima' and 'Acusado'

In [32]:
facts['Participantes'].unique()

array(['MOTO-AUTO', 'AUTO-PASAJEROS', 'MOTO-SD', 'MOTO-PASAJEROS',
       'MOTO-OBJETO FIJO', 'MOTO-CARGAS', 'PEATON-AUTO', 'PEATON-MOTO',
       'PEATON-PASAJEROS', 'AUTO-AUTO', 'AUTO-OBJETO FIJO',
       'PEATON-CARGAS', 'MOTO-MOTO', 'MULTIPLE', 'SD-SD', 'AUTO-CARGAS',
       'AUTO-SD', 'MOTO-MOVIL', 'CARGAS-CARGAS', 'PEATON-SD',
       'BICICLETA-CARGAS', 'SD-CARGAS', 'BICICLETA-PASAJEROS',
       'PASAJEROS-PASAJEROS', 'MOVIL-PASAJEROS', 'CARGAS-OBJETO FIJO',
       'PEATON-BICICLETA', 'SD-AUTO', 'CARGAS-AUTO', 'BICICLETA-AUTO',
       'MOTO-BICICLETA', 'SD-MOTO', 'MOVIL-CARGAS', 'PASAJEROS-AUTO',
       'AUTO-MOVIL', 'CARGAS-PASAJEROS', 'BICICLETA-TREN',
       'BICICLETA-OTRO', 'MOTO-OTRO', 'PEATON_MOTO-MOTO', 'PASAJEROS-SD'],
      dtype=object)

In [33]:
facts['Víctima'].unique()

array(['MOTO', 'AUTO', 'PEATON', 'SD', 'CARGAS', 'BICICLETA', 'PASAJEROS',
       'MOVIL', 'OBJETO FIJO', 'PEATON_MOTO'], dtype=object)

In [34]:
facts['Acusado'].unique()

array(['AUTO', 'PASAJEROS', 'SD', 'OBJETO FIJO', 'CARGAS', 'MOTO',
       'MULTIPLE', 'OTRO', 'BICICLETA', 'TREN'], dtype=object)

The column 'Víctima' contains the values 'OBJETO FIJO' and 'PEATON_MOTO' that are not described in the data dictionary. We proceed to observe these values.

In [35]:
facts[facts['Víctima'].isin(['OBJETO FIJO', 'PEATON_MOTO'])]

,Hechos_Id,Número de Victimas,Fecha,Año,Mes,Dia,Hora,Franja Horaria,Lugar Del Hecho,Tipo De Calle,Calle,Cruce,Dirección Normalizada,Comuna,XY (CABA),Pos X,Pos Y,Participantes,Víctima,Acusado
229,2017-0108,2,2017-09-02,2017,9,2,04:53:08,4,AV. GRAL. PAZ Y MACHAIN,GRAL PAZ,"PAZ, GRAL. AV.",True,"PAZ, GRAL. AV. y MACHAIN",12,Point (97098.48468623 109019.96106626),-58.49491054,-34.54795581,AUTO-OBJETO FIJO,OBJETO FIJO,AUTO
582,2020-0063,2,2020-12-05,2020,12,5,07:10:00,7,NUEVA YORK Y ALTA GRACIA,CALLE,NUEVA YORK,True,NUEVA YORK y ALTA GRACIA,11,Point (94080.62190808 102083.62453795),-58.52783814,-34.61047001,PEATON_MOTO-MOTO,PEATON_MOTO,MOTO

We see that in the first case the values ​​of the  columns 'Víctima' and 'Acusado' are inverted. On the other hand, a small error is possible in the column 'Participantes' with the value 'PEATON_MOTO'. We proceed to correct them:

In [36]:
# Invertimos los valores de las columnas 'VICTIMA' y 'ACUSADO' en los índices 237 y 238
facts.loc[[229], ['Víctima', 'Acusado']] = facts.loc[[229], ['Acusado', 'Víctima']].values

# Reemplazamos los valores de las columnas 'PARTICIPANTES' y 'VICTIMA' en los índices 602 y 603
facts.loc[[582], ['Participantes', 'Víctima']] = facts.loc[[582], ['Participantes', 'Víctima']].replace({'PEATON_MOTO-MOTO': 'PEATON-MOTO', 'PEATON_MOTO': 'PEATON'})
facts[facts['Hechos_Id'].isin(['2017-0108', '2020-0063'])]

,Hechos_Id,Número de Victimas,Fecha,Año,Mes,Dia,Hora,Franja Horaria,Lugar Del Hecho,Tipo De Calle,Calle,Cruce,Dirección Normalizada,Comuna,XY (CABA),Pos X,Pos Y,Participantes,Víctima,Acusado
229,2017-0108,2,2017-09-02,2017,9,2,04:53:08,4,AV. GRAL. PAZ Y MACHAIN,GRAL PAZ,"PAZ, GRAL. AV.",True,"PAZ, GRAL. AV. y MACHAIN",12,Point (97098.48468623 109019.96106626),-58.49491054,-34.54795581,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO
582,2020-0063,2,2020-12-05,2020,12,5,07:10:00,7,NUEVA YORK Y ALTA GRACIA,CALLE,NUEVA YORK,True,NUEVA YORK y ALTA GRACIA,11,Point (94080.62190808 102083.62453795),-58.52783814,-34.61047001,PEATON-MOTO,PEATON,MOTO

In [37]:
locale.setlocale(locale.LC_TIME, 'es_ES')

# Agregar una nueva columna 'Día semana' con nombres de días en español
facts['Día semana'] = facts['Fecha'].dt.strftime('%A').str.capitalize()

facts['Mes'] = facts['Mes'].apply(lambda x: calendar.month_name[x]).str.capitalize()

# Restaurar la configuración regional a la predeterminada (en inglés)
locale.setlocale(locale.LC_TIME, 'C')

# Mostrar el DataFrame resultante
facts.head()

,Hechos_Id,Número de Victimas,Fecha,Año,Mes,Dia,Hora,Franja Horaria,Lugar Del Hecho,Tipo De Calle,...,Cruce,Dirección Normalizada,Comuna,XY (CABA),Pos X,Pos Y,Participantes,Víctima,Acusado,Día semana
0,2016-0001,1,2016-01-01,2016,Enero,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,True,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO,Viernes
1,2016-0002,1,2016-01-02,2016,Enero,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,True,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS,Sábado
2,2016-0003,1,2016-01-03,2016,Enero,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,False,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO,Domingo
3,2016-0004,1,2016-01-10,2016,Enero,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,True,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD,Domingo
4,2016-0005,1,2016-01-21,2016,Enero,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,True,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS,Jueves

In [38]:
def get_season(mes):
    if mes in [12, 1, 2]:
        return 'Verano'
    elif mes in [3, 4, 5]:
        return 'Otoño'
    elif mes in [6, 7, 8]:
        return 'Invierno'
    elif mes in [9, 10, 11]:
        return 'Primavera'
    else:
        return 'Desconocido'

# Agregar una nueva columna 'Estación'
facts['Estación'] = facts['Fecha'].dt.month.apply(get_season)
facts

,Hechos_Id,Número de Victimas,Fecha,Año,Mes,Dia,Hora,Franja Horaria,Lugar Del Hecho,Tipo De Calle,...,Dirección Normalizada,Comuna,XY (CABA),Pos X,Pos Y,Participantes,Víctima,Acusado,Día semana,Estación
0,2016-0001,1,2016-01-01,2016,Enero,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO,Viernes,Verano
1,2016-0002,1,2016-01-02,2016,Enero,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS,Sábado,Verano
2,2016-0003,1,2016-01-03,2016,Enero,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO,Domingo,Verano
3,2016-0004,1,2016-01-10,2016,Enero,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD,Domingo,Verano
4,2016-0005,1,2016-01-21,2016,Enero,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS,Jueves,Verano
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690,2021-0093,1,2021-12-13,2021,Diciembre,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,...,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO,Lunes,Verano
691,2021-0094,1,2021-12-20,2021,Diciembre,20,01:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,...,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO,Lunes,Verano
692,2021-0095,1,2021-12-30,2021,Diciembre,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,...,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS,Jueves,Verano
693,2021-0096,1,2021-12-15,2021,Diciembre,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,...,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS,Miércoles,Verano
694,2021-0097,1,2021-11-18,2021,Noviembre,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,...,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO,Jueves,Primavera

Finally, we reorder de columns

In [39]:
facts.columns

Index(['Hechos_Id', 'Número de Victimas', 'Fecha', 'Año', 'Mes', 'Dia', 'Hora',
       'Franja Horaria', 'Lugar Del Hecho', 'Tipo De Calle', 'Calle', 'Cruce',
       'Dirección Normalizada', 'Comuna', 'XY (CABA)', 'Pos X', 'Pos Y',
       'Participantes', 'Víctima', 'Acusado', 'Día semana', 'Estación'],
      dtype='object')

In [40]:
new_order = [
    'Hechos_Id', 'Número de Victimas', 'Fecha', 'Año', 'Mes', 'Dia', 'Día semana', 'Estación',
    'Hora', 'Franja Horaria', 'Lugar Del Hecho', 'Tipo De Calle', 'Calle', 'Cruce', 'Dirección Normalizada',
    'Comuna', 'XY (CABA)', 'Pos X', 'Pos Y', 'Participantes', 'Víctima', 'Acusado'
]

# Reorganizar las columnas del DataFrame
facts = facts[new_order]
facts

,Hechos_Id,Número de Victimas,Fecha,Año,Mes,Dia,Día semana,Estación,Hora,Franja Horaria,...,Calle,Cruce,Dirección Normalizada,Comuna,XY (CABA),Pos X,Pos Y,Participantes,Víctima,Acusado
0,2016-0001,1,2016-01-01,2016,Enero,1,Viernes,Verano,04:00:00,4,...,PIEDRA BUENA AV.,True,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,Enero,2,Sábado,Verano,01:15:00,1,...,"PAZ, GRAL. AV.",True,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,Enero,3,Domingo,Verano,07:00:00,7,...,ENTRE RIOS AV.,False,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,Enero,10,Domingo,Verano,00:00:00,0,...,LARRAZABAL AV.,True,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,Enero,21,Jueves,Verano,05:20:00,5,...,SAN JUAN AV.,True,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690,2021-0093,1,2021-12-13,2021,Diciembre,13,Lunes,Verano,17:10:00,17,...,RIESTRA AV.,True,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
691,2021-0094,1,2021-12-20,2021,Diciembre,20,Lunes,Verano,01:10:00,1,...,"DELLEPIANE, LUIS, TTE. GRAL.",True,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
692,2021-0095,1,2021-12-30,2021,Diciembre,30,Jueves,Verano,00:43:00,0,...,GAONA AV.,True,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
693,2021-0096,1,2021-12-15,2021,Diciembre,15,Miércoles,Verano,10:30:00,10,...,"PERON, EVA AV.",False,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
694,2021-0097,1,2021-11-18,2021,Noviembre,18,Jueves,Primavera,06:10:00,6,...,PADRE CARLOS MUJICA,False,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

Save clean dataframe in a CSV file

In [41]:
archivo = f'data/csv/facts_clean.csv'
facts.to_csv(archivo, index=False, encoding='utf-8')